.mainPage {
    background: url("images/cyberpunkSun.png");
    background-size: cover;
}

.mainTitle { 
  text-align: center;
  color:rgb(163, 163, 163);
}

.transparentBackground {
  margin: auto;
  position: relative;
  top: 50px;
  width: 1000px;
  height: 120px;
  background: transparent;
  border: 2px solid rgba(162, 0, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.transparentBackgroundSmall {
  margin: auto;
  position: relative;
  top: 50px;
  width: 150px;
  height: 80px;
  background: transparent;
  border: 2px solid rgba(162, 0, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.btnwrap {
    text-align: center;
    position: relative;
    top: 80px;
  }

.btnwrapCalc {
    text-align: center;
    
  }


.button1 {
    text-align: center;
    color: white;
    padding: 6px 6px;
    font-size: 30px;
    background-color: #575050;
    border-radius: 10px;
    border: 2px solid #000000;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #000000;
    color:#ffffff;
}